.wrapper {
    display: flex;
    /* justify-content: center; */
    max-width: 1000px;
    padding: 50px;
    flex-direction: column;

}

h2 {
    color: red
}

.container {
    display: flex;
    /* flex-direction:	column; */
}

.list {
    justify-content: space-around;
    list-style: none;
    background-color: cadetblue;

}

img {
    width: 280px;
    height: 210px;
}

input {
    width: 150px;
}

#validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}